.homewraper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardwraper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.homecard{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
    min-width: 300px;
    min-height:250px;

}
.homecard img{
    width: 100px;

    justify-self: center;
    height: 100px;
    padding: 4px;

}
.homecard p{
    color: black;
    margin-top: 10px;
    font-size: 17px;
    margin-left: 8px;
    margin-right: 8px;

}
.homecard button{
    margin-top: 17px;
    margin-bottom: 7px;
    width: 100px;
    outline: none;
    border-style: none;
    color: white;
    background-color: blue;
    height: 29px;
 cursor: pointer;
}
@media only screen and (max-width: 359px) {
    .homecard{
        min-width: 230px;
    }
}